h1= title
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/jquery-1.9.1.js"></script>
<script type="text/javascript" src="/javascripts/jquery-ui-1.10.3.custom.min.js"></script>
<script type="text/javascript" src="/javascripts/utils.js"></script>
<script type="text/javascript" src="/javascripts/adapter.js"></script>
<script type="text/javascript" src="/javascripts/webrtc-guest.js"></script>
p Welcome to #{title}
<div id="controls">
<div id="rtc-controls">
p <button onclick="WebRTC.initCamera()">Init Camera</button>
  <button onclick="WebRTC.initScreen()">Init Screen</button>
  <button onclick="WebRTC.stop()">Stop</button>
</div>
<div id="session-controls" style="display: none;">
p <button id='btnMic' onclick="WebRTC.toggleMic()">Microphone</button>
  <button id='btnCam' onclick="WebRTC.toggleCamera()">Video</button>
</div>
</div>
p  <div id="localdiv" class="drag resizable " style="display: none;" >Local<br><video id="localVideo" autoplay height="200" width="200"></video></div>
p  <div id="remotediv" class="drag resizable " style="display: none;">Remote<br></div>
<audio id="audio2" autoplay="autoplay"></audio>